{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicon_io/site.webmanifest">

    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    
    <!-- <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css"
    /> -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    {% if user.is_authenticated %}
    <link rel = "stylesheet" href = "{% static 'css/other.css' %}">
    {% else %}
    <link rel = "stylesheet" href = "{% static 'css/main.css' %}">
    {% endif %}
    <script src="/static/js/access.js" ></script>
    <script src="{% static '/js/myscript.js' %}"></script>
    <title>Pharmacy App</title>
    
    
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark"> 
    <a class="nav-link" href="">
    <!-- <h1 class="navbar-brand" style = "font-size: 25px" >  </h1></a> --> 
    <a class="navbar-brand" href="{% url 'home' %}"> <img src="/static/images/logo3.png" width="160" height="70" alt="Dr WuHaYu"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!-- <ul class="nav navbar-nav ml-auto"> -->
        {% if user.is_authenticated %}
        <ul class="navbar-nav">
       
          
          <!-- <li class="navlink">{{ user.name }}</li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">HOME</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'inventory'%}">PRODUCTS</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_inventory' %}">ADD STOCK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'sales_records' %}">SALES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <div class="form-inline my-2 my-lg-0">
            
            <a href="{% url 'view_cart' %}"> 
              <i class="fa-solid fa-cart-plus fa-lg"></i>
           </a>
           <p id="cart-total">{{ cartItems }}</p>
          </div>
          &nbsp; &nbsp;
          <small id="usr_welcome" style="color: white;">Welcome {{ user.username }}!</small>
        </ul> 
        {% else %}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login'%}" >LOGIN</a>
          </li> &ensp;
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register'%}" >REGISTER</a>
          </li>
        </ul>
      {% endif %}
    </div>
  </nav>  

  <div class="container">
    <div class="justify-content-center">
      {% if user.is_authenticated %}  
        {% if messages %}
          {% for message in messages %}
            <div id="flash_message" class="alert alert-{{ messages.tags }}">
              <!-- <p class="messages">{{ messages }}</p> -->
              {{ message }}
              <button class="btn btn-outline-success btn-sm" id="msg_close_btn" onclick="hide('flash_message')">Close</button>
            </div>
          {% endfor %}
        {% endif %}
      {% endif %}
    </div>
  </div>
     
  {% block content %}
  {% endblock %}
  <br><br>
    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script type="module" src="/static/js/access.js" ></script>
<script src="{% static '/js/myscript.js' %}"></script>

  <br><br><br>
<footer>
  <div class="container">
    
    
      <img src="/static/images/logo1.png" width="160" height="60" alt="Paulines Mart"> &nbsp;
      <span><i style="font-size: 30px;" class="fa-brands fa-twitter"></i></span>
      <span><i style="font-size: 30px;" class="fa-brands fa-facebook" style="color: #000714;"></i></span>
      
      <span><i style="font-size: 30px;" class="fa-brands fa-instagram" style="color: #01060e;"></i></span>
      <span><i style="font-size: 30px;" class="fa-brands fa-linkedin"></i></span>
      <strong>Created by Pauline Korukundo ©  2023</strong>
      <!-- <p class="copyright"> Created by Pauline Korukundo ©  2023 </p> -->
    
  </div>
  <!-- <my-footer></my-footer> -->
    <!-- <p id="footer_text" class="my_text"><b>Designed by Pauline &copy; </b></p> -->
    
    <!-- <p class="copyright"> Created by Pauline Korukundo ©  2023 </p> -->
</footer>

<!-- <br><br>
  <div>    
    <a class="navbar-brand" href="logo3.png"> <img src="/static/images/logo3.png" width="160" height="70" alt="Paulines Mart"> </a>
    <p class="copyright"> Created by Pauline Korukundo ©  2023 </p>
    <p id="footer_text" class="my_text"><b>Designed by Pauline &copy; </b></p>
 </div>  -->

</body>

</html>