{% extends "base.html" %}

{% load static %}
{% load thumbnail %}


{% block content %}
{% if user.is_authenticated %}

<div class = "container container-fluid justify-content-center">
  <div class="col-md-12">
    <div class="card-header bg-info text-white text-center">
      <h5>Key Information</h5>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card my-card shadow text-center">
          <h4>Total Stock</h4>
          <h6>{{ stock }}</h6>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-card shadow text-center">
          <h4>Stock Alerts</h4>
          {% for inventory in inventories %}
          {% if inventory.get_low_stock %}
          <span class="flash">Check Low Stock: {{ inventory.name }}</span></a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col-md-4">
        <div class="card my-card shadow text-center">
          <h4>Recently Ordered</h4>
          <h6>{{ last_bought }}</h6>
        </div>
      </div>
    </div>
  </div>
</div>


<div class = "container">
    <!-- <h1 class= "text-center">INVENTORY LIST</h1> -->
  <br>
  <div class = "container container-fluid justify-content-center">
    <a class="btn btn-secondary btn-sm" style="float: right;" href="{% url 'inventory' %}">List View</a>
    <form action = "" method = "GET" class="form">
      {{ inventory_filters.form }}
      <input 
      type = "submit"
      value = "Search Products"
      class="btn btn-secondary btn-sm"/>
    </form>
    
  </div> 

</div>
  
  <br><br>
  <!-- <div class="content-section"> -->
  <div class="container" >
    <div class="row">
      {% for inventory in inventories %}
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="card m-1 product-card">
          <div class="card-body">
              <!-- <h6 class="cart-title text-center">{{ inventory.name }}</h5> -->
              <h6 class="text-center"><strong>{{ inventory.name }}</strong></h5>
              <h6 class="text-center">Stock:{{ inventory.quantity_in_stock }} UGX:{{ inventory.cost_per_item }}</h6>
              
              <div class="text-center">
                  <!-- <span><i class="fab fa-product-hunt"></i></span> -->
                  
              </div>
              <div class="container-fluid text-center justify-content-center"
                style="cursor: pointer; cursor: hand;" onclick="window.location = `{% url 'per_product' inventory.id %}`">
                {% thumbnail inventory.images "200x100" as im %}
                  <img src="{{ im.url }}">
                {% endthumbnail %}
                <!-- {% if inventory.get_low_stock %}<p class="flash text-center">Restock
                </p>
                {% else %}
                  <br><br><br>
                {% endif %} -->
              </div>             
              <br>
              <!-- <img class="thumbnail" src="{{ inventory.image_url }}"> -->
              <div class="text-center">
                <form action="{% url 'add_to_cart' inventory.id %}" class="d-inline">
                  <input type="hidden" name="prod_id" value="inventory.id">
                  <button type="submit" class="btn btn-outline-dark btn-sm">Dispense</button>
                  <!-- <a class="btn btn-outline-dark btn-sm" href="{% url 'add_to_cart' inventory.id %}">Dispense</a> -->
                </form>
                
                <!-- <a class="btn btn-outline-success btn-sm" href="{% url 'per_product' inventory.id %}">View</a> -->
                <a class="btn btn-outline-dark btn-sm" href="{% url 'update_inventory' inventory.id %}">
                  <span class="{% if inventory.get_low_stock %}flash{% endif %}">Update</span></a>
                <a class="btn btn-outline-dark btn-sm" href="{% url 'delete_inventory' inventory.id %}">Delete</a>
                <!-- <a href=""> 
                  <i class="fa-solid fa-cart-shopping fa-lg" style="color: #010204;" class="tooltiptext"></i></a>&nbsp
                <a href="{% url 'update_inventory' inventory.id %}">
                  <i class="fa-solid fa-pencil fa-lg" style="color: #000000;" class="tooltiptext"></i></a> &nbsp
                <a href="{% url 'delete_inventory' inventory.id %}">
                  <i class="fa-solid fa-trash fa-lg" style="color: #a84300;" class="tooltiptext"></i>
                </a> -->
              </div>
              
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4">
        <div class="card mb-4"> 
        </div>
      </div>-->     
      {% endfor %}
    </div>
    <!-- <div class="row mx-auto justify-content-center">
        <a class="btn btn-outline-success btn-sm" href="">ADD TO CART</a>
        <a class="btn btn-danger btn-sm" href="">REMOVE</a>
    </div> -->
  </div>
</div>



{% else %}
      <p>You are not logged in</p>
      <a href="{% url 'login' %}">Log In</a> &ensp;
      <a href="{% url 'register' %}">Register here</a>    
{% endif %}

{% endblock %}