{% extends '../base.html'%} 
{% block content %}
<br/><br>
<div class="container">
  <h1 class="card-header text-center">ALL RECEIPTS</h1><br>
  {% for sale in sales %}
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Customer : {{sale.customer_name | title}}</h3>
      <h6 class="card-text">Item : {{sale.product.name}}</h6>
      <h6 class="card-text">Amount Paid:  UGX{{ sale.paid_amount }}</h6>
      <h6 class="card-text">Quantity: {{ cartItems }}</h6>
      <h2>Total Price :  UGX{{ sale.bill }}</h2>
      <div style="flex: 1">
        <h6 class="card-text">Change Collected:  UGX{{ sale.net }}</h6>
        <a href="{% url 'receipt_detail' sale.id %}">
          <input
            type="submit"
            value="Final Receipt"
            class="btn btn-dark"
            type="button"
          />
        </a>
      </div>
    </div>
  </div>
  <br/>
  {% endfor %}
</div>
{% endblock %}
